<h2>{{editionMode ? 'Fitxa' : 'Nou'}} Producte</h2>
<form class="form-horizontal" novalidate
    (ngSubmit)="save()" [formGroup]="formGroup">
      <div class="form-group">
        <label for="nameId">Producte</label>
        <div>
          <input class="form-control"
          id="nameId"
          type="text"
          required
          formControlName="productName"/>
        </div>
      </div>
      <div class="form-group">
        <label for="categoryNameId">Categoria</label>
        <div>
          <select
          class="form-control"
          id="categoryNameId"
          formControlName="productCategoryName"
          size="1">
          <option *ngFor="let productCategory of productCategories">{{ productCategory.productCategoryName }}</option>
        </select>
        </div>
      </div>      
      <div class="form-group">
        <div>
          <button type="submit">Guardar</button>
        </div>
      </div>
</form>

<button (click)="goBack()">Tornar</button>
