<h2 id="tableLabel">Clients</h2>

<button
  [routerLink]='["/client-detail"]'
  class="btn btn-outline-primary btn-sm"
  >Nou client
</button>

<p *ngIf="!clients"><em>Loading...</em></p>

<div class="table-responsive">
  <table class="table table-hover justify-content-start w-auto" *ngIf="clients">
    <thead>
      <tr>
        <th class="border-0"></th>
        <th class="border-0">Email</th>
        <th class="border-0">Nom</th>
        <th class="border-0">Cognoms</th>
        <th class="border-0"></th>
        <th class="border-0"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <th scope="row"></th>
        <td>{{ client.email }}</td>
        <td>{{ client.firstName }}</td>
        <td>{{ client.lastName }}</td>        
        <td>
          <button
            routerLink="/client-detail/{{client.id}}"
            class="btn btn-outline-info btn-sm"
            title="update client"
            >Seleccionar
          </button>
        </td>
        <td>
          <button
            class="btn btn-outline-danger btn-sm"
            title="delete client"
            (click)="delete(client)"
            >Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>