<h2>{{editionMode ? 'Fitxa' : 'Nova'}} Categoria</h2>
<form
  class="form-horizontal"
  novalidate
  (ngSubmit)="save()"
  [formGroup]="formGroup">
  <div class="row">
    <div class="form-group col-auto">
      <label for="nameId">Nom Categoria</label>
      <input class="form-control"
        id="nameId"
        type="text"
        required
        formControlName="productCategoryName"/>
      <span *ngIf="errors">{{ errors.ProductCategoryName }}{{ errors.duplicateName }}</span>
    </div>
  </div>
  <div class="form-group">
    <button
      class="btn btn-outline-info btn-sm"
      type="submit"
      [disabled]="!formGroup.valid">
      Guardar
    </button>
  </div>
</form>

<button class="btn btn-outline-info btn-sm" (click)="goBack()">Tornar</button>

