<h2 id="tableLabel">Comandes</h2>

<button [routerLink]='["/order-detail"]' class="btn-add">Nova comanda</button>

<p *ngIf="!orderHeaders"><em>Loading...</em></p>

<table *ngIf="orderHeaders">
  <thead>
    <tr>
      <th>Id</th>
      <th>Número Comanda</th>
      <th>Adreça Entrega</th>
      <th>Client</th>
      <th>Empleat</th>
      <th>Estat Ordre</th>
      <th>Prioritat</th>
      <th>Data Creació</th> 
      <th>Data Assignació Empleat</th> 
      <th>Data Finalització</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let orderHeader of orderHeaders">
      <td>{{ orderHeader.id }}</td>
      <td>{{ orderHeader.orderNumber }}</td>
      <td>{{ orderHeader.address }}</td>
      <td>{{ orderHeader.client }}</td>
      <td>{{ orderHeader.employee }}</td>
      <td>{{ orderHeader.orderState }}</td>
      <td>{{ orderHeader.orderPriority }}</td>
      <td>{{ orderHeader.creationDate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ orderHeader.assignToEmployeeDate | date: 'dd/MM/yyyy' }}</td>
      <td>{{ orderHeader.finalisationDate | date: 'dd/MM/yyyy' }}</td>     
      <td><button routerLink="/order-detail/{{orderHeader.id}}"
        class="btn-update" title="update orderHeader">Seleccionar</button></td>
      <td><button class="btn-delete" title="delete orderHeader"
        (click)="delete(orderHeader)">Borrar</button></td>
    </tr>
  </tbody>
</table>
