<h2 id="tableLabel">Comandes</h2>

<button
  [routerLink]='["/order-detail"]'
  class="btn btn-outline-primary"
  >Nova comanda
</button>

<p *ngIf="!orderHeaders"><em>Loading...</em></p>

<div class="table-responsive-md">
  <table class="table table-hover table-md" *ngIf="orderHeaders">
    <thead>
      <tr class="row justify-content-start">
        <th class="col-1 border-0">Número Comanda</th>
        <th class="col-1 border-0">Adreça Entrega</th>
        <th class="col-1 border-0">Client</th>
        <th class="col-1 border-0">Empleat</th>
        <th class="col-1 border-0">Estat Ordre</th>
        <th class="col-1 border-0">Prioritat</th>
        <th class="col-1 border-0">Data Creació</th> 
        <th class="col-1 border-0">Data Assignació Empleat</th> 
        <th class="col-1 border-0">Data Finalització</th>
        <th class="border-0"></th>
        <th class="border-0"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="row justify-content-start" *ngFor="let orderHeader of orderHeaders">
        <td class="col-1">{{ orderHeader.orderNumber }}</td>
        <td class="col-1">{{ orderHeader.address }}</td>
        <td class="col-1">{{ orderHeader.client }}</td>
        <td class="col-1">{{ orderHeader.employee }}</td>
        <td class="col-1">{{ orderHeader.orderState }}</td>
        <td class="col-1">{{ orderHeader.orderPriority }}</td>
        <td class="col-1">{{ orderHeader.creationDate | date: 'dd/MM/yyyy' }}</td>
        <td class="col-1">{{ orderHeader.assignToEmployeeDate | date: 'dd/MM/yyyy' }}</td>
        <td class="col-1">{{ orderHeader.finalisationDate | date: 'dd/MM/yyyy' }}</td>     
        <td class="col-auto">
          <button
            routerLink="/order-detail/{{orderHeader.id}}"
            class="btn btn-outline-info"
            title="update orderHeader"
            >Seleccionar
          </button>
        </td>
        <td class="col-auto">
          <button
            class="btn btn-outline-danger"
            title="delete orderHeader"
            (click)="delete(orderHeader)"
            >Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>