<h1>{{title}}</h1>
<div>
  <ul>
    <li *ngIf="!isLogged()" [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/login"]' (click)='collapse()'>
        <span></span> Registre / Login
      </a>
    </li>
    <li *ngIf="isLogged()">{{ userName }}</li>
    <li *ngIf="isLogged()" [routerLinkActive]='["link-active"]'>
      <a [routerLink]='["/login"]' (click)='logout()'>
        <span></span> Logout
      </a>
    </li>
</ul>
</div>
<nav class="nav nav-tabs" *ngIf="isAdminUser == 'true'">
  <a class="nav-item nav-link" routerLink="/hhrr">Recursos Humans</a>
  <a class="nav-item nav-link" routerLink="/sales">Vendes</a>
  <a class="nav-item nav-link" routerLink="/statistics">Estadístiques</a>
</nav>
<nav class="nav" *ngIf="isAdminUser == 'false' && isLogged()">
  <a class="nav-item nav-link" routerLink="/hhrr">Recursos Humans</a>
  <a class="nav-item nav-link" routerLink="/sales">Vendes</a>
</nav>
<nav class="nav" *ngIf="!isLogged()"></nav>
<router-outlet></router-outlet>