<h2>{{editionMode ? 'Fitxa' : 'Nou'}} Empleat</h2>
<form
  class="form-horizontal"
  novalidate
  (ngSubmit)="save()"
  [formGroup]="formGroup">
  <div class="row">
    <div class="form-group col-8 col-md-5 col-lg-4">
      <label for="emailId">Email</label>
      <input class="form-control"
        id="emailId"
        type="string"
        required
        formControlName="email"/>
        <span class="text-danger small" *ngIf="errors">{{ errors.Email }}{{ errors.duplicateName }}</span>
    </div>
  </div>
  <div class="row"> 
    <div class="form-group col-4 col-md-3 col-lg-3">
      <label for="firstNameId">Nom</label>
      <input class="form-control"
      id="firstNameId"
      type="string"
      required
      formControlName="firstName"/>
      <span class="text-danger small" *ngIf="errors">{{ errors.FirstName }}</span>
    </div>
    <div class="form-group col-8 col-md-5 col-lg-4">
      <label for="lastNameId">Cognoms</label>
      <input class="form-control"
      id="lastNameId"
      type="string"
      required
      formControlName="lastName"/>
      <span class="text-danger small" *ngIf="errors">{{ errors.LastName }}</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4 col-md-3 col-lg-3">
      <label for="positionId">Càrrec</label>
      <input class="form-control"
      id="positionId"
      type="string"
      formControlName="position"/>
      <span class="text-danger small" *ngIf="errors">{{ errors.Position }}</span>
    </div>
    <div *ngIf="isAdminUser()" class="form-group col-4 col-md-3 col-lg-3">
      <label for="salaryId">Salari</label>
      <input class="form-control"
      id="salaryId"
      type="number"
      formControlName="salary"/>
    </div>
  </div>
  <div class="form-group">
    <label><h4>Direccions</h4></label>
  </div>    
  <div
    formArrayName="addresses"
    *ngFor="let address of addresses.controls; let i = index;">
    <div [formGroupName]="i" class="form-row">      
      <div class="form-group col-7 col-md-5 col-lg-4">    
        <label class="col control-label" [attr.for]="'name' + i">
          Nom adreça
        </label>
        <input class="form-control" [attr.id]="'name' + i" type="text" formControlName="name" />
      </div>
      <div class="form-group col-3 col-md-3 col-lg-3">  
        <label class="col control-label" [attr.for]="'type' + i">
          Tipus adreça
        </label>
        <select class="form-control" [attr.id]="'type' + i" type="text" formControlName="type">
          <option disabled>-- Tipus d'adreça --</option>
          <option>Personal</option>
          <option>Entrega</option>
        </select>
      </div>
      <div class="form-group col-2 col-md-3 col-lg-2">
        <label class="col">&nbsp;</label>
        <div class="col">
          <button
            type="button"
            class="btn btn-outline-danger btn-sm pull-right"
            (click)="deleteAddress(i)">
            Borrar adreça
          </button>
        </div>
      </div>             
    </div>  
  </div>
  <div>
    <button
      class="btn btn-outline-info btn-sm"
      (click)="addAddress()">
      Afegir adreça
    </button>
  </div>
  <div>&nbsp;</div>
  <div class="form-group">
    <div>
      <button
        class="btn btn-outline-info btn-sm"
        type="submit"
        [disabled]="!formGroup.valid">
        Guardar
      </button>
    </div>
  </div>
</form>

<button class="btn btn-outline-info btn-sm" (click)="goBack()">Tornar</button>

<fieldset *ngIf="currentOhs.length > 0"><h4>Comandes actuals</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Número Comanda</th>
        <th>Adreça</th>
        <th>Client</th>
        <th>Empleat</th>
        <th>Estat Ordre</th>
        <th>Prioritat</th>
        <th>Data Creació</th> 
        <th>Data Assignació Empleat</th> 
        <th>Data Finalització</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let currentOh of currentOhs">
        <td>{{ currentOh.orderNumber }}</td>
        <td>{{ currentOh.address }}</td>
        <td>{{ currentOh.client }}</td>
        <td>{{ currentOh.employee }}</td>
        <td>{{ currentOh.orderState }}</td>
        <td>{{ currentOh.orderPriority }}</td>
        <td>{{ currentOh.creationDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ currentOh.assignToEmployeeDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ currentOh.finalisationDate | date: 'dd/MM/yyyy' }}</td>     
      </tr>
    </tbody>
  </table>
</fieldset>

<fieldset *ngIf="oldOhs.length > 0"><h4>Històric de comandes</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Número Comanda</th>
        <th>Adreça</th>
        <th>Client</th>
        <th>Empleat</th>
        <th>Estat Ordre</th>
        <th>Prioritat</th>
        <th>Data Creació</th> 
        <th>Data Assignació Empleat</th> 
        <th>Data Finalització</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let oldOh of oldOhs">
        <td>{{ oldOh.orderNumber }}</td>
        <td>{{ oldOh.address }}</td>
        <td>{{ oldOh.client }}</td>
        <td>{{ oldOh.employee }}</td>
        <td>{{ oldOh.orderState }}</td>
        <td>{{ oldOh.orderPriority }}</td>
        <td>{{ oldOh.creationDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ oldOh.assignToEmployeeDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ oldOh.finalisationDate | date: 'dd/MM/yyyy' }}</td>     
      </tr>
    </tbody>
  </table>
</fieldset>
