<h2>{{editionMode ? 'Fitxa' : 'Nou'}} Empleat</h2>
<form class="form-horizontal" novalidate
    (ngSubmit)="save()" [formGroup]="formGroup">
      <div class="form-group">
        <label for="firstNameId">Nom</label>
        <div>
          <input class="form-control"
          id="firstNameId"
          type="string"
          required
          formControlName="firstName"/>
        </div>
      </div>
      <div class="form-group">
        <label for="lastNameId">Cognoms</label>
        <div>
          <input class="form-control"
          id="lastNameId"
          type="string"
          required
          formControlName="lastName"/>
        </div>
      </div>
      <div class="form-group">
        <label for="positionId">Càrrec</label>
        <div>
          <input class="form-control"
          id="positionId"
          type="text"
          required
          formControlName="position"/>
        </div>
      </div>
      <div class="form-group">
        <label for="salaryId">Salari</label>
        <div>
          <input class="form-control"
          id="salaryId"
          type="number"
          required
          formControlName="salary"/>
        </div>
      </div>
      <div class="form-group">
        <label for="userNameId">Usuari</label>
        <div>
          <input class="form-control"
          id="userNameId"
          type="text"
          required
          formControlName="userName"/>
        </div>
      </div>
      <div class="form-group">
        <label for="passwordId">Contrasenya</label>
        <div>
          <input class="form-control"
          id="passwordId"
          type="text"
          required
          formControlName="password"/>
        </div>
      </div>
      <div class="form-group">
        <div>
          <button type="submit">Guardar</button>
        </div>
      </div>
</form>

<button (click)="goBack()">Tornar</button>
