<h2>{{editionMode ? 'Fitxa' : 'Nou'}} Rol</h2>
<form class="form-horizontal" novalidate
  (ngSubmit)="save()" [formGroup]="roleFormGroup">
  <div class="form-group">
    <label for="nameId">Nom Rol</label>
    <div>
      <input class="form-control"
      id="nameId"
      type="text"
      required
      formControlName="name"/>
    </div>
  </div>

  <div class="form-group">
    <div>
      <button type="submit">Guardar</button>
    </div>
  </div>
</form>

<button (click)="goBack()">Tornar</button>

<fieldset>Usuaris:
  <table *ngIf="currentRoleUsers">
      <tr *ngFor="let currentRoleUser of currentRoleUsers">
        <td>{{ currentRoleUser.name }}</td>
        <td>
          <button class="btn-delete" title="remove userInRole"
            (click)="removeUserInRole(currentRoleUser)">Borrar</button>
        </td>
      </tr>
  </table>
</fieldset>

<form class="form-horizontal" novalidate
  (ngSubmit)="addRoleUserLine()" [formGroup]="roleUserFormGroup">
  <div class="form-group">
    <label for="nameId">Usuari</label>
    <div>
      <select
      class="form-control"
      id="nameId"
      formControlName="name"
      size="1">
        <option disabled selected value>-- Usuari --</option>
        <option *ngFor="let user of users">{{ user.name }} - {{ user.email }}</option>
    </select>
    </div>    
  </div>

  <div class="form-group">
    <div>
      <button type="submit">Afegir Usuari</button>
    </div>
  </div>
</form>

      

