<h2>{{editionMode ? 'Fitxa' : 'Nova'}} Comanda</h2>
<form class="form-horizontal" novalidate
  (ngSubmit)="save()" [formGroup]="orderHeaderFormGroup">
  <table>
    <tr>
      <td>
        <div class="form-group">
          <label for="orderNumberId">Número Comanda</label>
          <div>
            <input class="form-control"
            id="orderNumberId"
            type="text"
            required
            formControlName="orderNumber"/>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label for="orderStateId">Estat</label>
          <select
          class="form-control"
          id="orderStateId"
          formControlName="orderState"
          size="1">
            <option disabled selected value> -- Estat -- </option>
            <option *ngFor="let orderState of orderStates">{{ orderState.state }}</option>
          </select>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label for="orderPriorityId">Prioritat</label>
          <select
          class="form-control"
          id="orderPriorityId"
          formControlName="orderPriority"
          size="1">
          <option disabled selected value> -- Prioritat -- </option>
          <option *ngFor="let orderPriority of orderPriorities">{{ orderPriority.priority }}</option>
        </select>
        </div>
      </td>
      <td>
        <div *ngIf="orderHeader">
          <label for="addressId">Adreça d'entrega</label>
          <div>
            {{ orderHeader.address }}
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="!editionMode">      
      <td>
        <div *ngIf="orderHeader">
          <label for="employeeId">Empleat</label>
          <div>
            {{ orderHeader.employee }}
          </div>
        </div>
      </td>      
    </tr>
    <tr *ngIf="editionMode">      
      <td>
        <div *ngIf="isAdminUser()" class="form-group">
          <label for="employeeId">Empleat</label>
          <select            
            class="form-control"
            id="employeeId"
            formControlName="employee"
            size="1">
            <option disabled selected value> -- Empleat -- </option>
            <option *ngFor="let employee of employees">{{ employee.firstName }} {{ employee.lastName }}</option>
          </select>
        </div>
        <div *ngIf="!isAdminUser()" class="form-group">
          <label for="employeeId">Empleat</label>
          <select            
            class="form-control"
            id="employeeId"
            formControlName="employee"
            size="1">
            <option disabled selected value> -- Empleat -- </option>
            <option *ngIf="orderHeader">{{ orderHeader.employee }}</option>
            <option *ngIf="userName">{{ userName }}</option>
          </select>
        </div>
      </td>      
    </tr>
    <tr>      
      <td>
        <div class="form-group">
          <label for="clientId">Client</label>
          <select
          class="form-control"
          id="clientId"
          formControlName="client"
          size="1">
          <option disabled selected value> -- Client -- </option>
          <option *ngFor="let client of clients">{{ client.firstName }} {{ client.lastName }}</option>
        </select>
        </div>
      </td>      
    </tr>
    <tr>
      <td>
        <div *ngIf="orderHeader">
          <label for="creationDateId">Data Creació</label>
          <div>
            {{ orderHeader.creationDate | date: 'dd/MM/yyyy'}}
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="orderHeader">
          <label for="assignToEmployeeDateId">Data Assignació Empleat</label>
          <div>
            {{ orderHeader.assignToEmployeeDate | date: 'dd/MM/yyyy'}}
          </div>
        </div>        
      </td>
      <td>
        <div *ngIf="orderHeader">
          <label for="finalisationDateId">Data Finalització</label>
          <div>
            {{ orderHeader.finalisationDate | date: 'dd/MM/yyyy'}}
          </div>
        </div>
      </td>
    </tr>   
  </table>

  <div class="form-group">
    <div>
      <button type="submit" [disabled]="!orderHeaderFormGroup.valid">Guardar</button>
    </div>
  </div>

</form>

<button (click)="goBack()">Tornar</button>

<fieldset>Detall Comanda:
  <table *ngIf="orderLines">
    <thead>
      <tr>
        <th>Producte</th>
        <th>Preu Unitari</th>
        <th>IVA</th>
        <th>Preu Unitari IVA</th>
        <th>Quantitat</th>
        <th>Preu Total IVA</th>     
      </tr>
    </thead>
    <tbody>  
      <tr *ngFor="let orderLine of orderLines">
        <td>{{ orderLine.productName }}</td>
        <td>{{ orderLine.unitPrice }}</td>
        <td>{{ orderLine.vat | percent }}</td>
        <td>{{ orderLine.unitPrice * (1 + orderLine.vat) }}</td>
        <td>{{ orderLine.quantity }}</td>
        <td>{{ (orderLine.unitPrice * orderLine.quantity) * (1 + orderLine.vat) | currency: 'EUR'}}</td>
        <td>
          <button class="btn-delete" title="delete OrderLine"
            (click)="deleteOrderLine(orderLine)">Borrar</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><b>TOTAL sense IVA</b></td>
        <td></td>
        <td><b>IVA</b></td>
        <td></td>
        <td><b>TOTAL amb IVA</b></td>
      </tr>
      <tr>
        <td></td>
        <td>{{ totalOrderNoVat }}</td>
        <td></td>
        <td>{{ totalVat }}</td>
        <td></td>
        <td>{{ totalOrderVat }}</td>
      </tr>
    </tbody>
  </table>
</fieldset>

<form class="form-horizontal" novalidate
  (ngSubmit)="addOrderLine()" [formGroup]="orderLineFormGroup">
  <div class="form-group">
    <label for="productNameId">Producte</label>
    <div>
      <select
      class="form-control"
      id="productNameId"
      formControlName="productName"
      required
      size="1">
        <option disabled selected value>-- Producte --</option>
        <option *ngFor="let product of products">{{ product.productName }}</option>
    </select>
    </div>    
  </div>
  <div class="form-group">
    <label for="unitPriceId">Preu unitari</label>
    <div>
      <input
      class="form-control"
      id="unitPriceId"
      formControlName="unitPrice"
      type="number"
      required/>
    </div>    
  </div>
  <div class="form-group">
    <label for="vatId">IVA</label>
    <div>
      <input
      class="form-control"
      id="vatId"
      formControlName="vat"
      type="number"
      required/>
    </div>    
  </div>
  <div class="form-group">
    <label for="quantityId">Quantity</label>
    <div>
      <input
      class="form-control"
      id="quantityId"
      formControlName="quantity"
      type="number"
      required/>
    </div>    
  </div>

  <div class="form-group">
    <div>
      <button type="submit" [disabled]="!orderLineFormGroup.valid">Afegir línia comanda</button>
    </div>
  </div>
</form>
