<h2>{{editionMode ? 'Fitxa' : 'Nova'}} Comanda</h2>
<div class="container-fluid">
  <form
    class="form-horizontal"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="orderHeaderFormGroup">
    <div class="row justify-content-start">
      <div class="form-group col-4 col-lg-2">
        <label for="orderNumberId">Número Comanda</label>
        <input class="form-control"
          id="orderNumberId"
          type="text"
          required
          formControlName="orderNumber"/>
          <span class="text-danger small" *ngIf="errors">{{ errors.OrderNumber }}{{ errors.duplicateName }}</span>
      </div>
      <div class="form-group col-5 col-lg-3">
        <label for="orderStateId">Estat</label>
        <select
        class="form-control"
        id="orderStateId"
        formControlName="orderState"
        size="1">
          <option disabled selected value> -- Estat -- </option>
          <option>Pendent de tractar</option>
          <option>En tractament</option>
          <option>En repartiment</option>
          <option>Completada</option>
          <option>Cancel·lada</option>
        </select>
      </div>
      <div class="form-group col-3 col-lg-2">
        <label for="orderPriorityId">Prioritat</label>
        <select
        class="form-control"
        id="orderPriorityId"
        formControlName="orderPriority"
        size="1">
        <option disabled selected value> -- Prioritat -- </option>
        <option>Baixa</option>
        <option>Mitjana</option>
        <option>Alta</option>
      </select>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="form-group col-6 col-lg-3">
        <label for="clientId">Client</label>
        <select
          class="form-control"
          id="clientId"
          formControlName="client"
          size="1">
          <option disabled selected value> -- Client -- </option>
          <option *ngFor="let client of clients">{{ client.firstName }} {{ client.lastName }}</option>
        </select>
        <span class="text-danger small" *ngIf="errors">{{ errors.Client }}</span>
      </div>
      <div class="col-6 col-lg-4" *ngIf="orderHeader">
        <label for="addressId">Adreça d'entrega</label>
        <div>
          {{ orderHeader.address }}
        </div>
      </div>
    </div>   
    <div class="row justify-content-start">
      <div class="col-4 col-lg-2" *ngIf="orderHeader">
        <label for="creationDateId">Data Creació</label>
        <div>
          {{ orderHeader.creationDate | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div class="col-4 col-lg-2" *ngIf="orderHeader">
        <label for="assignToEmployeeDateId">Data Assignació Empleat</label>
        <div>
          {{ orderHeader.assignToEmployeeDate | date: 'dd/MM/yyyy'}}
        </div>
      </div>
      <div class="col-4 col-lg-2" *ngIf="orderHeader">
        <label for="finalisationDateId">Data Finalització</label>
        <div>
          {{ orderHeader.finalisationDate | date: 'dd/MM/yyyy'}}
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="!editionMode">
        <div *ngIf="orderHeader">
          <label for="employeeId">Empleat</label>
          <div>
            {{ orderHeader.employee }}
          </div>
        </div>     
      </div>
      <div *ngIf="editionMode">
        <div *ngIf="isAdminUser()" class="form-group col">
          <label for="employeeId">Empleat</label>
          <select            
            class="form-control"
            id="employeeId"
            formControlName="employee"
            size="1">
            <option disabled selected value> -- Empleat -- </option>
            <option *ngFor="let employee of employees">{{ employee.firstName }} {{ employee.lastName }}</option>
          </select>
        </div>
        <div *ngIf="!isAdminUser()" class="form-group col">
          <label for="employeeId">Empleat</label>
          <select            
            class="form-control"
            id="employeeId"
            formControlName="employee"
            size="1">
            <option disabled selected value> -- Empleat -- </option>
            <option *ngIf="orderHeader">{{ orderHeader.employee }}</option>
            <option *ngIf="userName">{{ userName }}</option>
          </select>
        </div>    
      </div>
    </div>
    <div class="form-group">
      <div>
        <button
          class="btn btn-outline-info btn-sm"
          type="submit"
          [disabled]="!orderHeaderFormGroup.valid">
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>

<div class="container-fluid">
  <button
    class="btn btn-outline-info btn-sm"
    (click)="goBack()">
    Tornar
  </button>
  <div>&nbsp;</div>
</div>

<fieldset class="table-responsive" *ngIf="orderLines.length > 0"><h4>Detall Comanda:</h4>
  <table class="table justify-content-start w-auto">
    <thead>
      <tr>
        <th class="border-0"></th>
        <th class="border-0">Producte</th>
        <th class="border-0">Preu Unitari</th>
        <th class="border-0">IVA</th>
        <th class="border-0">Preu Unitari IVA</th>
        <th class="border-0">Quantitat</th>
        <th class="border-0">Preu Total IVA</th>
        <th class="border-0"></th>    
      </tr>
    </thead>
    <tbody>  
      <tr *ngFor="let orderLine of orderLines">
        <th scope="row"></th>
        <td>{{ orderLine.productName }}</td>
        <td>{{ orderLine.unitPrice  | currency: 'EUR'}}</td>
        <td>{{ orderLine.vat | percent }}</td>
        <td>{{ orderLine.unitPrice * (1 + orderLine.vat)  | currency: 'EUR'}}</td>
        <td>{{ orderLine.quantity }}</td>
        <td>{{ (orderLine.unitPrice * orderLine.quantity) * (1 + orderLine.vat) | currency: 'EUR'}}</td>
        <td>
          <button
            class="btn btn-outline-danger btn-sm"
            title="delete OrderLine"
            (click)="deleteOrderLine(orderLine)">
            Borrar
          </button>
        </td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td><b>TOTAL sense IVA</b></td>
        <td></td>
        <td><b>IVA</b></td>
        <td></td>
        <td><b>TOTAL amb IVA</b></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td>{{ totalOrderNoVat  | currency: 'EUR'}}</td>
        <td></td>
        <td>{{ totalVat  | currency: 'EUR'}}</td>
        <td></td>
        <td>{{ totalOrderVat  | currency: 'EUR'}}</td>
      </tr>
    </tbody>
  </table>
</fieldset>

<div class="container-fluid">
  <form
    class="form-row"
    novalidate
    (ngSubmit)="addOrderLine()"
    [formGroup]="orderLineFormGroup">
    <div class="row">
      <div class="form-group col-4 col-md-4 col-lg-3">
        <label for="productNameId">Producte</label>
        <select
          class="form-control"
          id="productNameId"
          formControlName="productName"
          size="1">
            <option disabled selected value>-- Producte --</option>
            <option *ngFor="let product of products">{{ product.productName }}</option>
        </select>
        <span class="text-danger small" *ngIf="errors">{{ errors.ProductName }}</span> 
      </div>
      <div class="form-group col-3 col-md-2 col-lg-3">
        <label for="unitPriceId">Preu unitari</label>
        <input
          class="form-control"
          id="unitPriceId"
          formControlName="unitPrice"
          type="number"
          required/>
      </div>
      <div class="form-group col-3 col-md-2 col-lg-2">
        <label for="vatId">IVA</label>
        <input
          class="form-control"
          id="vatId"
          formControlName="vat"
          type="number"
          required/>
      </div>
      <div class="form-group col-3 col-md-2 col-lg-2">
        <label for="quantityId">Quantity</label>
        <input
          class="form-control"
          id="quantityId"
          formControlName="quantity"
          type="number"
          required/>
      </div>
      <div class="form-group col-3 col-md-2 col-lg-2">
        <div>
          <label>&nbsp;</label>
          <div>
            <button
              class="btn btn-outline-info btn-sm"
              type="submit"
              [disabled]="!orderLineFormGroup.valid">
              Afegir línia comanda
            </button>
          </div>  
        </div>
      </div>
    </div>
  </form>
</div>
