<h2>{{editionMode ? 'Fitxa' : 'Nova'}} Comanda</h2>
<form class="form-horizontal" novalidate
  (ngSubmit)="save()" [formGroup]="formGroup">
  <table>
    <tr>
      <td>
        <div class="form-group">
          <label for="orderNumberId">Número Comanda</label>
          <div>
            <input class="form-control"
            id="orderNumberId"
            type="text"
            required
            formControlName="orderNumber"/>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label for="orderStateId">Estat</label>
          <select
          class="form-control"
          id="orderStateId"
          formControlName="orderState"
          size="1">
          <option disabled selected value> -- Estat -- </option>
          <option *ngFor="let orderState of orderStates">{{ orderState.state }}</option>
        </select>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label for="orderPriorityId">Prioritat</label>
          <select
          class="form-control"
          id="orderPriorityId"
          formControlName="orderPriority"
          size="1">
          <option disabled selected value> -- Prioritat -- </option>
          <option *ngFor="let orderPriority of orderPriorities">{{ orderPriority.priority }}</option>
        </select>
        </div>
      </td>
      <td>
        <div *ngIf="orderHeader">
          <label for="addressId">Adreça d'entrega</label>
          <div>
            {{ orderHeader.address }}
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="!editionMode">      
      <td>
        <div *ngIf="orderHeader">
          <label for="employeeId">Empleat</label>
          <div>
            {{ orderHeader.employee }}
          </div>
        </div>
      </td>      
    </tr>
    <tr *ngIf="editionMode">      
      <td>
        <div *ngIf="isAdminUser()" class="form-group">
          <label for="employeeId">Empleat</label>
          <select            
            class="form-control"
            id="employeeId"
            formControlName="employee"
            size="1">
            <option disabled selected value> -- Empleat -- </option>
            <option *ngFor="let employee of employees">{{ employee.firstName }} {{ employee.lastName }}</option>
          </select>
        </div>
        <div *ngIf="!isAdminUser()" class="form-group">
          <label for="employeeId">Empleat</label>
          <select            
            class="form-control"
            id="employeeId"
            formControlName="employee"
            size="1">
            <option disabled selected value> -- Empleat -- </option>
            <option *ngIf="orderHeader">{{ orderHeader.employee }}</option>
            <option *ngIf="userName">{{ userName }}</option>
          </select>
        </div>
      </td>      
    </tr>
    <tr>      
      <td>
        <div class="form-group">
          <label for="clientId">Client</label>
          <select
          class="form-control"
          id="clientId"
          formControlName="client"
          size="1">
          <option disabled selected value> -- Client -- </option>
          <option *ngFor="let client of clients">{{ client.firstName }} {{ client.lastName }}</option>
        </select>
        </div>
      </td>      
    </tr>
    <tr>
      <td>
        <div *ngIf="orderHeader">
          <label for="creationDateId">Data Creació</label>
          <div>
            {{ orderHeader.creationDate | date: 'dd/MM/yyyy'}}
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="orderHeader">
          <label for="assignToEmployeeDateId">Data Assignació Empleat</label>
          <div>
            {{ orderHeader.assignToEmployeeDate | date: 'dd/MM/yyyy'}}
          </div>
        </div>        
      </td>
      <td>
        <div *ngIf="orderHeader">
          <label for="finalisationDateId">Data Finalització</label>
          <div>
            {{ orderHeader.finalisationDate | date: 'dd/MM/yyyy'}}
          </div>
        </div>
      </td>
    </tr>   
  </table>      

  <div class="form-group">
    <button class="btn btn-primary" (click)="addOrderLine()">Afegir Línia Comanda</button>
  </div>
  
  <div formArrayName="orderLines"
        *ngFor="let orderLine of orderLines.controls; let i = index;">
    <div [formGroupName]="i">      
      <div class="form-group">    
        <label class="col-md-2 control-label" [attr.for]="'productName' + i">
          Producte
        </label>            
        <div class="col-md-8">
          <input class="form-control" [attr.id]="'productName' + i" type="text" formControlName="productName" />
        
          <!-- <select
          class="form-control"
          [attr.id]="'productName' + i"
          formControlName="productName"
          size="1">
            <option *ngFor="let product of products">{{ product.productName }}</option>
          </select> -->
        </div>
      </div>    
      <div class="form-group">  
        <label class="col-md-2 control-label" [attr.for]="'unitPrice' + i">
          Preu unitari
        </label>              
        <div class="col-md-8">
          <input class="form-control" [attr.id]="'unitPrice' + i" type="number" formControlName="unitPrice" />
        </div>
      </div>          
      <div class="form-group">  
        <label class="col-md-2 control-label" [attr.for]="'vat' + i">
          Tipus IVA
        </label>            
        <div class="col-md-8">
          <input class="form-control" [attr.id]="'vat' + i" type="number" formControlName="vat" />
        </div>
      </div>          
      <div class="form-group"> 
        <label class="col-md-2 control-label" [attr.for]="'quantity' + i">
          Quantitat
        </label>          
        <div class="col-md-8">
          <input class="form-control" [attr.id]="'quantity' + i" type="number" formControlName="quantity" />
        </div>
      </div>
      <!-- <div class="form-group"> 
        <label class="col-md-2 control-label" [attr.for]="'totalPrice' + i">
          Preu Total
        </label>          
        <div class="col-md-8">
          <input name= [attr.id]="'totalPrice' + i" type="number" formControlName="totalPrice" [value]="calculate()" />
        </div> 
      </div>  -->       
      <div class="form-group">
        <div class="col-md-10">
          <button type="button" class="btn btn-danger pull-right" (click)="deleteOrderLine(i)">Borrar línia</button>
        </div>
      </div>             
    </div>  
  </div>

  <div class="form-group">
    <div>
      <button type="submit">Guardar</button>
    </div>
  </div>

</form>

<button (click)="goBack()">Tornar</button>
