<h2 id="tableLabel">Empleats</h2>

<button
  type="button"
  class="btn btn-outline-primary btn-sm"
  [routerLink]='["/employee-detail"]'
  >Nou empleat
</button>

<p *ngIf="!employees"><em>Loading...</em></p>

<div class="table-responsive">
  <table class="table table-hover justify-content-start w-auto" *ngIf="employees">
    <thead>
      <tr>
        <th class="border-0"></th>
        <th class="border-0">Email</th>
        <th class="border-0">Nom</th>
        <th class="border-0">Cognoms</th>
        <th class="border-0">Càrrec</th>
        <th class="border-0" *ngIf="isAdminUser()">Salari</th>
        <th class="border-0"></th>
        <th class="border-0"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <th scope="row"></th>
        <td>{{ employee.email }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.position }}</td>
        <td *ngIf="isAdminUser()">{{ employee.salary | currency:'EUR' }}</td>        
        <td>
          <button
            routerLink="/employee-detail/{{employee.id}}"
            type="button"
            class="btn btn-outline-info btn-sm"
            title="update employee"
            >Seleccionar
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-outline-danger btn-sm"
            title="delete employee"
            (click)="delete(employee)"
            >Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>