<h2 id="tableLabel">Empleats</h2>

<button [routerLink]='["/employee-detail"]' class="btn-add">Nou empleat</button>

<p *ngIf="!employees"><em>Loading...</em></p>

<table *ngIf="employees">
  <thead>
    <tr>
      <th>Id</th>
      <th>Id persona</th>
      <th>Càrrec</th>
      <th>Salari</th>
      <th>Usuari</th>
      <th>Contrasenya</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.personId }}</td>
      <td>{{ employee.position }}</td>
      <td>{{ employee.salary }}</td>
      <td>{{ employee.userName }}</td>
      <td>{{ employee.password }}</td>        
      <td><button routerLink="/employee-detail/{{employee.id}}"
        class="btn-update" title="update employee">Seleccionar</button></td>
      <td><button class="btn-delete" title="delete employee"
        (click)="delete(employee)">Borrar</button></td>
    </tr>
  </tbody>
</table>
